@import "tailwindcss";



@theme {
  /* COLORS */
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #ce9841;
  --color-lightBlack:#696e76;
  --color-gray: #a9aeb3;
  --color-lightgray: #F9F9F9;
  --color-lightred: #FFE8E8;
  --color-lightblack: #FFFFFF1F;


  /* fonts */

  --font-poppins: 'poppins';
  --font-instrumentSerif: 'instrumentSerif';
  --font-oswald: 'oswald';
}

/* Tailwind Inline Theme Support */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

/* Dark Mode Preferences */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Base Body Styles */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.outlined-heading {
  color: transparent;
  -webkit-text-stroke: 2px #c8913b;
  text-shadow:#ffff;
}